$color-gris: #333333;
$color-blanco: #ffffff;
$color-gris-claro: #cccccc;
$color-space: #0dd6ae;
$color-blanco-smoke: #f6f6f6;
$color-gray5: #0d0d0d;
$color-celeste: #5fbae9;
$color-gris-brillante: #eeeeee;
